[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "SoaresCintia/HaHaHa"]
	path = SoaresCintia/HaHaHa
	url = git@github.com:SoaresCintia/HaHaHa.git
[submodule "NixOS/nixpkgs"]
	path = NixOS/nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
[submodule ".wifi"]
	path = .wifi
	url = git@bitbucket.org:masseguillaume/wifi.git
