Downloads/
SoaresCintia/

.cache/
.compose-cache/
.dbus/
.dmenu_cache
.ivy2/
.local/
.mozilla
.mplayer
.nix-defexpr/
.nix-profile
.npm/
.oh-my-zsh/
.pki
.scala_history
.ssh/
.Xauthority
.xsession-errors
.zcompdump*
.zsh_history
.zsh-update
