Downloads/
MasseGuillaume/
nixos/
node_modules/
scala/
scalameta/

.cache/
.compose-cache/
.dbus/
.dmenu_cache
.ivy2/
.local/
.mozilla
.mplayer
.nix*
.npm/
.oh-my-zsh/
.pki
.scala_history
.ssh/
.Xauthority
.xsession-errors
.zcompdump*
.zsh_history
.zsh-update
