.cache/
.compose-cache/
.dbus/
.dmenu_cache
Downloads/
ScalaKata2/
ScalaKata/
.ivy2/
.local/
.mozilla
.mplayer
node_modules/
nixpkgs
.nix*
.npm/
.oh-my-zsh/
.pki
.scala_history
.ssh/
.Xauthority
.xsession-errors
.zcompdump*
.zsh_history
.zsh-update
