"*":
  "exception-reporting":
    userId: "5403d18b-0a17-6e24-ba74-f0a943050aff"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "solarized-dark-apparent-ui-successor"
      "solarized-dark-syntax"
    ]
    disabledPackages: [
      "background-tips"
      "autoflow"
      "language-mustache"
      "welcome"
      "bookmarks"
      "encoding-selector"
      "exception-reporting"
      "feedback"
      "image-view"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-go"
      "language-java"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-toml"
      "language-yaml"
      "metrics"
      "notifications"
      "open-on-github"
      "package-generator"
      "release-notes"
      "snippets"
      "spell-check"
      "status-bar"
      "styleguide"
      "symbols-view"
      "update-package-dependencies"
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      "target"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    showLineNumbers: false
